# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HiddenIntervals.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\HiddenIntervals\.idea\.idea.HiddenIntervals\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
